.saving {
  color: gray;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #fff;
  margin-left: 0.3em;
  margin-top: 0.25em;
}

ul {
  padding: 0;
  margin: 0;
}

.menu > li {
  display: inline;
}

li > h1 {
  display: inline;
  font-size: 1em;
  padding: 0;
}

li > a,button {
  color: #000;
  cursor: pointer;
  list-style: none;
  padding: 0.25em 0.5em;
  border: none;
  font-size: 0.8em;
}

li > button {
  background-color: #fff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li > button:hover {
  background-color: #dadada;
}

a:hover {
  text-decoration: none;
  background-color: #dadada;
}

a:active {
  text-decoration: none;
}
