<mat-toolbar *ngIf="!isMode2">
  <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
  <mat-menu #fileMenu="matMenu">
    <button mat-menu-item (click)="createNewNotebook()">New Notebook</button>
    <button mat-menu-item (click)="exportNotebook()">Export Notebook</button>
    <input mat-menu-item accept="application/json" type="file" (change)="importNotebook($event)">
    <button mat-menu-item (click)="saveInUrl()">Save in URL</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="runtimeMenu">Runtime</button>
  <mat-menu #runtimeMenu="matMenu">
    <button mat-menu-item (click)="runAll()">Run all (Ctrl+F9)</button>
    <button mat-menu-item (click)="stopAll()">Stop all</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
  <mat-menu #helpMenu="matMenu">
    <a mat-menu-item target="_blank" href="https://github.com/sanchezcarlosjr/javascript-notebook/issues/1"  >Examples</a>
    <button mat-menu-item routerLink="/docs">Documentation</button>
    <a mat-menu-item  target="_blank"  href="https://carlos-eduardo-sanchez-torres.sanchezcarlosjr.com/Assisting-dementia-patients-with-the-Embodied-Voice-Assistant-Eva-Simulator-9aade1ebef9948acafba73d834b19d0b">About</a>
  </mat-menu>
  <span *ngIf="isSaving" class="saving" >Saving...</span>
</mat-toolbar>

<section id="editor-js"><p *ngIf="loading">Loading...</p></section>
