<mat-toolbar *ngIf="!isMode2">
  <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
  <mat-menu #fileMenu="matMenu">
    <input mat-menu-item [(ngModel)]="name" (ngModelChange)="updateName($event)" id="doc-name" class="doc-name" maxlength="259" autocomplete="off" aria-label="Notebook name" data-form-type="name"  data-lpignore="true">
    <button mat-menu-item (click)="createNewNotebook()">New Notebook</button>
    <button mat-menu-item (click)="exportNotebook()">Export Notebook</button>
    <button mat-menu-item onclick="document.getElementById('notebook-file').click()">
      Open <input id="notebook-file" class="input-files" type="file" accept="application/json" (change)="importNotebook($event)">
    </button>
    <button mat-menu-item [matMenuTriggerFor]="history" >Open recent</button>
    <button mat-menu-item (click)="saveInUrl()">Save in URL</button>
    <button mat-menu-item (click)="removeUrlProviders()">Delete the URL parameter</button>
  </mat-menu>
  <mat-menu #history="matMenu">
    <a mat-menu-item *ngFor='let item of (history$ | async)' target="_blank" [href]="getNotebookLocation(item)">
      <span class="mdc-list-item__primary-text history-element">{{item.title}}</span>
      <span class="mdc-list-item__secondary-text history-element">{{item.createdAt.toLocaleString()}}</span>
    </a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="runtimeMenu">Runtime</button>
  <mat-menu #runtimeMenu="matMenu">
    <button mat-menu-item (click)="runAll()">Run all (Ctrl+F9)</button>
    <button mat-menu-item (click)="stopAll()">Stop all</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="helpMenu">Help</button>
  <mat-menu #helpMenu="matMenu">
    <a mat-menu-item target="_blank" href="https://github.com/sanchezcarlosjr/javascript-notebook/issues/1">Examples</a>
    <a mat-menu-item target="_blank" href="/?u=https://raw.githubusercontent.com/sanchezcarlosjr/computer-vision-and-graphics/main/assets/evanotebooks/notebook-documentation.json&n=Documentation">Documentation</a>
    <a mat-menu-item target="_blank" href="https://github.com/sanchezcarlosjr/javascript-notebook/">Code</a>
    <a mat-menu-item target="_blank" href="https://ipfsnotebook.sanchezcarlosjr.com/">IPFS Branch</a>
    <a mat-menu-item target="_blank" href="https://notebook.sanchezcarlosjr.com/">GitHub Page</a>
    <a mat-menu-item target="_blank" href="https://isolatenotebook.sanchezcarlosjr.com/">Isolate notebook</a>
    <a mat-menu-item target="_blank" href="https://ipfs.io/ipfs/QmVcZLrzGPrw6Yv9SfchPvHUaU2ZA6zzrSZPy2FZysZp7x">CID</a>
    <a mat-menu-item target="_blank" href="https://billowing-dawn-4565.on.fleek.co/">Fleek</a>
    <a mat-menu-item target="_blank" href="https://n.sanchezcarlosjr.com/">Firebase 1</a>
    <a mat-menu-item target="_blank" href="https://evanotebook.web.app/">Firebase 2</a>
    <a mat-menu-item target="_blank" href="https://evanotebook.firebaseapp.com/">Firebase 3</a>
    <a mat-menu-item target="_blank" href="https://carlos-eduardo-sanchez-torres.sanchezcarlosjr.com/Assisting-dementia-patients-with-the-Embodied-Voice-Assistant-Eva-Simulator-9aade1ebef9948acafba73d834b19d0b">About</a>
  </mat-menu>
  <span *ngIf="isSaving" class="saving" >Saving...</span>
</mat-toolbar>

<section id="editor-js"><p *ngIf="loading">Loading...</p></section>
