body {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.cdx-settings-button {
  font-size: 0.7em;
  min-height: fit-content !important;
  width: 95%;
}

.ce-popover--opened {
  max-height: fit-content;
}
.output {
  display: flex;
  position: relative;
  width: 100%;
  height: max-content;
  margin: 0;
  overflow-x: auto;
  word-wrap: anywhere;
  flex-wrap: wrap;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  font-size: 0.7em;
  background-color: #f0f2f5;
}

@font-face {
  font-family: "Fira Code Regular";
  src: url(/assets/fonts/FiraCode-Regular.woff);
}

* {
  font-family: "Fira Code Regular",apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}

.cell {
  width: 100%;
  flex-wrap: wrap;
  height: fit-content;
  margin-bottom: 0.3em;
}

.cdx-loader:before {
  width: 11px;
  height: 11px;
}

.progress {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #C1E2F8 !important;
  box-shadow: 0 0 0 2px #fff inset;
}

.cdx-button{
  white-space: nowrap;
}

.prompt {
  width: 100%;
  line-height: 1.2em;
  padding: 0.2em 0.5em;
  margin: 0.3em 0;
  font-size: 0.7em;
}

.getting-started {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#editor-js {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.cdx-block {
  width: 100%;
  height: max-content;
  margin: 0;
  flex-wrap: wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.codex-editor {
  width: 100%;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 70%;
}

math-field {
  width: 100%;
}

.output-math-field {
  border: none !important;
  outline: none !important;
}

.hide {
  display: none;
}
